$primary-100: #10101D;
$primary-70: #3D4050;

$accent-100: #3E9CDC;
$accent-70: #43ABF0;
$accent-50: #286690;

$text-100: #000;
$text-90: #2A2B30;
$text-80: #272733;
$text-50: #6F6D7B;
$text-30: #BBBBBB;
$text-20: #C3C3C3;

$white-100: #fff;

$select-bg: #5a5d6a;

$divider: $text-20;